ruby_app/config/secrets.yml
android_app/app/fabric.properties
**/.DS_Store
android_app/fastlane/README.md
android_app/fastlane/report.xml
**/*.swp
web_app/src/.#Main.elm

## Various settings
*.pbxuser
!default.pbxuser
*.mode2v3
!default.mode2v3
!default.perspectivev3
xcuserdata/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.mobileprovision

# fastlane
/ios_app/fastlane/report.xml
/ios_app/fastlane/Preview.html
/ios_app/fastlane/screenshots
/ios_app/fastlane/test_output
/ios_app/fastlane/README.md

#benv ruby version
.ruby-version
